<web-app>

    <display-name>test</display-name>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Test API</web-resource-name>
            <url-pattern>/restricted/*</url-pattern>
        </web-resource-collection>

        <auth-constraint>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>

    <!--<login-config>-->
        <!--<auth-method>FORM</auth-method>-->
        <!--<realm-name>Test API</realm-name>-->

        <!--<form-login-config>-->
            <!--<form-login-page>/login.html</form-login-page>-->
            <!--<form-error-page>/login-error.html</form-error-page>-->
        <!--</form-login-config>-->
    <!--</login-config>-->

    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>Test API</realm-name>
    </login-config>


    <security-role>
        <role-name>user</role-name>
    </security-role>

</web-app>